In [1]:
import pandas as pd
import numpy as np
from collections import Counter

import os
import sys
sys.path.append(os.path.abspath(os.path.join('..')))

## Data Set Information
This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

---

## Attribute Information
- **InvoiceNo**: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'C', it indicates a cancellation.
- **StockCode**: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
- **Description**: Product (item) name. Nominal.
- **Quantity**: The quantity of each product (item) per transaction. Numeric.
- **InvoiceDate**: Invoice date and time. Numeric, representing the day and time when each transaction was generated.
- **UnitPrice**: Unit price. Numeric, representing the product price per unit in sterling.
- **CustomerID**: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
- **Country**: Country name. Nominal, representing the name of the country where each customer resides.

In [2]:
raw_data = pd.read_csv('../data/retail.csv', encoding='ISO-8859-1')
display(raw_data.head(10))

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/10 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/10 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,1.69,13047.0,United Kingdom

In [25]:
raw_product_descriptions = pd.read_csv('../data/main_product_descriptions.csv')
display(raw_product_descriptions.head(10))

   item_family       item_family_description    category
0        10002    INFLATABLE POLITICAL GLOBE  GIFT ITEMS
1        10080      GROOVY CACTUS INFLATABLE        TOYS
2        10120                  DOGGY RUBBER        TOYS
3        10123          HEARTS WRAPPING TAPE  STATIONERY
4        10124                BOOKCOVER TAPE  STATIONERY
5        10125       MINI FUNKY DESIGN TAPES      CRAFTS
6        10133  COLOURING PENCILS BROWN TUBE  STATIONERY
7        10135  COLOURING PENCILS BROWN TUBE  STATIONERY
8        11001   ASSTD DESIGN RACING CAR PEN  STATIONERY
9        15030               FAN BLACK FRAME    LIGHTING

### Item Family

In [26]:
item_family = raw_product_descriptions.copy()
item_family = item_family.rename(columns={
    'item_family': 'item_family_id',
    'category': 'item_category'
})

item_family['item_family_id'] = item_family['item_family_id'].astype(int)
item_family['item_family_description'] = item_family['item_family_description'].astype(str)
item_family['item_category'] = item_family['item_category'].astype(str)
display(item_family.head(10))

   item_family_id       item_family_description item_category
0           10002    INFLATABLE POLITICAL GLOBE    GIFT ITEMS
1           10080      GROOVY CACTUS INFLATABLE          TOYS
2           10120                  DOGGY RUBBER          TOYS
3           10123          HEARTS WRAPPING TAPE    STATIONERY
4           10124                BOOKCOVER TAPE    STATIONERY
5           10125       MINI FUNKY DESIGN TAPES        CRAFTS
6           10133  COLOURING PENCILS BROWN TUBE    STATIONERY
7           10135  COLOURING PENCILS BROWN TUBE    STATIONERY
8           11001   ASSTD DESIGN RACING CAR PEN    STATIONERY
9           15030               FAN BLACK FRAME      LIGHTING

### Transactions

In [61]:
transactions = raw_data.copy()

transactions = transactions.rename(columns={
    'InvoiceNo': 'invoice_id',
    'StockCode': 'item_id',
    'Description': 'item_description',
    'Quantity': 'quantity_amount',
    'InvoiceDate': 'event_timestamp_invoiced_at',
    'UnitPrice': 'unit_price_eur',
    'CustomerID': 'customer_id',
    'Country': 'country_name'
})

transactions['invoice_id'] = transactions['invoice_id'].astype(str)
transactions['item_id'] = transactions['item_id'].astype(str)
transactions['item_description'] = transactions['item_description'].astype(str)
transactions['quantity_amount'] = transactions['quantity_amount'].astype(int)
transactions['event_timestamp_invoiced_at'] = pd.to_datetime(transactions['event_timestamp_invoiced_at'])
transactions['unit_price_eur'] = transactions['unit_price_eur'].astype(float)
transactions['customer_id'] = transactions['customer_id'].astype('Int64')
transactions['country_name'] = transactions['country_name'].astype(str)
transactions.index.name = 'transaction_id'
transactions.reset_index(inplace=True)
transactions['transaction_id'] = transactions['transaction_id'].astype('Int64')

transactions['is_return'] = transactions['quantity_amount'] < 0

transactions.head(10)

/var/folders/hv/ckh3m6gn1sd45q2qctrqcwzh0000gn/T/ipykernel_74621/49388509.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  transactions['event_timestamp_invoiced_at'] = pd.to_datetime(transactions['event_timestamp_invoiced_at'])

,transaction_id,invoice_id,item_id,item_description,quantity_amount,event_timestamp_invoiced_at,unit_price_eur,customer_id,country_name,is_return
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,False
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,False
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
5,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,False
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,False
7,7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,False
8,8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,False
9,9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,False

### Items

In [5]:
items = transactions.groupby(['item_id', 'item_description']).count()[[]].reset_index()
items.sample(20)

     item_id                     item_description
1908   22405        MONEY BOX POCKET MONEY DESIGN
3299   23454            THREE MINI HANGING FRAMES
4826   84944                                  nan
1147   21688                             mixed up
4641  84796B                                  nan
2883   23131                                    ?
45     16008                                check
2674   22985         WRAP, BILLBOARD FONTS DESIGN
2925   23159                                  nan
5003   85045                                  nan
3971   71143                                  nan
3653   35933   PINK STOCKING CHRISTMAS DECORATION
1397   21912             VINTAGE SNAKES & LADDERS
1500   22049          WRAP CHRISTMAS SCREEN PRINT
1209   21749         LARGE RED RETROSPOT WINDMILL
4864  84970s    HANGING HEART ZINC T-LIGHT HOLDER
5311  90011A  MIDNIGHT BLUE CRYSTAL DROP EARRINGS
3512   23691              KEEP CALM BIRTHDAY WRAP
5208  85180B             PINK HEARTS LIGHT CHAIN
459    20972   PINK CREAM FELT CRAFT TRINKET BOX

In [6]:
items['is_operational_item'] = (items['item_id'].str.len() < 5) | (items['item_id'].str.contains('gift', case=False))
items['item_family_id'] = items['item_id'].str.extract(r'^(\d+)', expand=False)
items['item_variant'] = items['item_id'].str.extract(r'(\D+)$', expand=False).fillna('')
items['item_variant'] = np.where(items['item_id'] == items['item_family_id'],  np.nan, items['item_variant'])

items.head()

,item_id,item_description,is_operational_item,item_family_id,item_variant
0,10002,INFLATABLE POLITICAL GLOBE,False,10002,NaN
1,10002,nan,False,10002,NaN
2,10080,GROOVY CACTUS INFLATABLE,False,10080,NaN
3,10080,check,False,10080,NaN
4,10080,nan,False,10080,NaN

#### Set items additional info flags

In [7]:
selected_items = items[items['is_operational_item'] == False]

selected_items['is_all_uppercase'] = selected_items['item_description'].str.isupper()
selected_items['description_len'] = selected_items['item_description'].str.len()
selected_items = selected_items.sort_values(by=['item_id', 'description_len'], ascending=[True, False])
selected_items['description_order'] = selected_items.groupby('item_id').cumcount() + 1

selected_items.head()

/var/folders/hv/ckh3m6gn1sd45q2qctrqcwzh0000gn/T/ipykernel_74621/3455374893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_items['is_all_uppercase'] = selected_items['item_description'].str.isupper()
/var/folders/hv/ckh3m6gn1sd45q2qctrqcwzh0000gn/T/ipykernel_74621/3455374893.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_items['description_len'] = selected_items['item_description'].str.len()

,item_id,item_description,is_operational_item,item_family_id,item_variant,is_all_uppercase,description_len,description_order
0,10002,INFLATABLE POLITICAL GLOBE,False,10002,NaN,True,27,1
1,10002,nan,False,10002,NaN,False,3,2
2,10080,GROOVY CACTUS INFLATABLE,False,10080,NaN,True,24,1
3,10080,check,False,10080,NaN,False,5,2
4,10080,nan,False,10080,NaN,False,3,3

In [8]:
weird_items = selected_items[((selected_items['description_order'] > 1) & (selected_items['description_len'] < 13)) | ~selected_items['is_all_uppercase']]
description_list = weird_items['item_description'].drop_duplicates().tolist()
print(description_list)

is_unknown_item = []
is_error_item = []
is_special_item = []
is_modification_item = []

for description in description_list:
    description_lower = description.lower()
    if any(word in description_lower for word in [
        'check', 'damage', 'wet', 'lost', 'found', 'error', 'wrong', 'faulty', 'mouldy', 'smashed', 'broken', 'crush', 'crack', 'unsaleable', 'missing', 'throw away'
    ]):
        is_error_item.append(description)
    elif any(word in description_lower for word in [
        'dotcom', 'amazon', 'fba', 'ebay', 'john lewis', 'showroom', 'voucher', 'cordial jug', 'website'
    ]):
        is_special_item.append(description)
    elif any(word in description_lower for word in [
        'adjust', 'sample', 'sold as', 'mailout', 'allocate', 'temp', 'credit', 'sale', 're-adjustment', 'label mix up'
    ]):
        is_modification_item.append(description)


is_unknown_item = ['?','??','???','Incorrect stock entry.',"can't find",'nan',None]

is_error_item += [
    'on cargo order', 'test', 'barcode problem', 'mixed up', 'michel oops', 'printing smudges/thrown away', 
    'had been put aside', 'rusty thrown away', 'incorrectly made-thrown away.', 'Breakages', 'counted', 
    'Had been put aside.', 'returned', 'thrown away', 'mystery! Only ever imported 1800', 'Dagamed', 
    'code mix up? 84930', 'Printing smudges/thrown away', 'came coded as 20713', 'incorrect stock entry.',
    "thrown away-can't sell",'Thrown away-rusty','Thrown away.','Given away','historic computer difference?....se',
    'alan hodge cant mamage this section',"thrown away-can't sell.", 'label mix up','sold in set?','mix up with c'
]

is_special_item += [
    'MIA', '?display?', 'Amazon Adjustment', 'Lighthouse Trading zero invc incorr', 
    'Dotcomgiftshop Gift Voucher £100.00', 'sold as set?', 
    'High Resolution Image', 'John Lewis','Bank Charges','Next Day Carriage'
]

is_modification_item += [
    'Adjustment', 'OOPS ! adjustment', 'reverse 21/5/10 adjustment', 'reverse previous adjustment', 
    'marked as 23343', 'incorrectly put back into stock', 'Not rcvd in 10/11/2010 delivery', 'Display', 
    'Had been put aside.',  'sold as set by dotcom', 'add stock to allocate online orders', 
    'allocate stock for dotcom orders ta', 'for online retail orders', 'Marked as 23343'
]

unclassified_items = set(description_list) - set(is_error_item) - set(is_special_item) - set(is_modification_item)

print("is_error_item:", is_error_item)
print("is_special_item:", is_special_item)
print("is_modification_item:", is_modification_item)
print("Unclassified items:", unclassified_items)

['nan', 'check', 'damaged', 'wet/rusty', 'FLOWERS HANDBAG blue and orange', 'alan hodge cant mamage this section', 'THE KING GIFT BAG 25x24x12cm', 'found', 'Adjustment', 'ESSENTIAL BALM 3.5g TIN IN ENVELOPE', 'adjustment', 'dotcom', 'MIA', '?', 'lost in space', 'wrongly marked. 23343 in box', 'wrongly marked 23343', 'wrongly coded 23343', 'wrongly coded-23343', 'Marked as 23343', 'Found', 'damages', '??', 'damages/display', '*USB Office Mirror Ball', 'POLYESTER FILLER PAD 60x40cm', 'Amazon Adjustment', 'taig adjust no stock', 'WET/MOULDY', 'had been put aside', 'damages?', 'Damaged', 'wet', '*Boombox Ipod Classic', 'sold as set on dotcom', 'wet rusty', 'on cargo order', 'wrongly marked', '???', 'broken', 'Show Samples', 'Sold as 1 on dotcom', "Dr. Jam's Arouzer Stress Ball", "Dad's Cab Electronic Meter", 'CHECK', 'mystery! Only ever imported 1800', 'rcvd be air temp fix for dotcom sit', 're dotcom quick fix.', 'samples', '?display?', 'mixed up', 'wrong barcode', 'sold as set on dotcom and amazon', 'BAG 125g SWIRLY MARBLES', 'BAG 250g SWIRLY MARBLES', 'BAG 500g SWIRLY MARBLES', 'showroom', 'amazon adjust', 'sold as 1', '?missing', 'OOPS ! adjustment', 'smashed', 'Amazon', 'missing', 'John Lewis', 'Dotcomgiftshop Gift Voucher £100.00', 'taig adjust', "Dotcom sold in 6's", 'sold in set?', 'amazon', '???lost', 'Given away', 'test', 'faulty', "can't find", 'Missing', '?lost', 'wrongly sold (22719) barcode', 'wrong code?', 'wet boxes', 'incorrectly put back into stock', 'reverse 21/5/10 adjustment', '?? missing', 'missing?', 'lost', 'mouldy, thrown away.', 'mouldy, unsaleable.', 'damages/showroom etc', 'FRENCH BLUE METAL DOOR SIGN No', 'wrong barcode (22467)', 'sold as 22467', 'wrong code', 'amazon sales', 'FOUND', 'Not rcvd in 10/11/2010 delivery', 'Wrongly mrked had 85123a in box', 'AMAZON', 'NUMBER TILE COTTAGE GARDEN No', 'NUMBER TILE VINTAGE FONT No ', '3 TRADITIONAl BISCUIT CUTTERS  SET', 'water damage', 'Printing smudges/thrown away', 'printing smudges/thrown away', 'CORDIAL JUG', 'rusty thrown away', 'rusty throw away', 'Thrown away-rusty', 'Crushed', 'add stock to allocate online orders', 'allocate stock for dotcom orders ta', 'for online retail orders', 'temp adjustment', 'website fixed', 'dotcom adjust', 'Breakages', 'mailout ', 'mailout', 'Lighthouse Trading zero invc incorr', 'Incorrect stock entry.', 'incorrect stock entry.', 'mouldy', '20713 wrongly marked', 'came coded as 20713', 'wrongly coded 20713', '20713', 'sold with wrong barcode', 'Next Day Carriage', 'Sale error', 're-adjustment', 'High Resolution Image', 'Found by jackie', 'thrown away', 'Thrown away.', 'counted', 'found some more on shelf', 'sold as set/6 by dotcom', 'damages/dotcom?', 'sold as set by dotcom', 'damaged stock', 'POLYESTER FILLER PAD 45x45cm', 'Dotcom sales', 'POLYESTER FILLER PAD 65CMx65CM', 'POLYESTER FILLER PAD 45x30cm', 'POLYESTER FILLER PAD 40x40cm', 'dotcom sales', 'Dotcom', 'POLYESTER FILLER PAD 30CMx30CM', 'did  a credit  and did not tick ret', 'incorrectly credited C550456 see 47', 'reverse previous adjustment', 'adjust', 'found box', 'throw away', "thrown away-can't sell", "thrown away-can't sell.", 'Wet pallet-thrown away', 'Had been put aside.', '???missing', 'wet pallet', '????missing', 'dotcomstock', 'Water damaged', 'damages/credits from ASOS.', 'Unsaleable, destroyed.', 'crushed', 'crushed ctn', 'cracked', 'FBA', 'historic computer difference?....se', 'FOLK ART GREETING CARD,pack/12', 'Damages/samples', 'incorrectly made-thrown away.', 'Dagamed', 'returned', 'water damaged', 'Display', 'wet damaged', 'wet?', 'code mix up? 84930', 'michel oops', 'barcode problem', 'damages wax', 'label mix up', 'stock creditted wrongly', '????damages????', 'check?', 'wrongly marked carton 22804', 'Damages', 'samples/damages', 'DAMAGED', 'wrongly sold as sets', '?sold as sets?', 'Dotcom set', 'wrongly sold sets', 'Amazon sold sets', 'dotcom sold sets', '? sold as sets?', 'Found in w/hse', 'lost??', 'mix up with c', 'stock check', 'crushed boxes', 'Bank Charges', 'ebay']
is_error_item: ['check', 'damaged', 'wet/rusty', 'found', 'lost in space', 'wrongly marked. 23343 in box', 'wrongly marked 23343', 'wrongly coded 23343', 'wrongly coded-23343', 'Found', 'damages', 'damages/display', 'WET/MOULDY', 'damages?', 'Damaged', 'wet', 'wet rusty', 'wrongly marked', 'broken', 'CHECK', 'wrong barcode', '?missing', 'smashed', 'missing', '???lost', 'faulty', 'Missing', '?lost', 'wrongly sold (22719) barcode', 'wrong code?', 'wet boxes', '?? missing', 'missing?', 'lost', 'mouldy, thrown away.', 'mouldy, unsaleable.', 'damages/showroom etc', 'wrong barcode (22467)', 'wrong code', 'FOUND', 'Wrongly mrked had 85123a in box', 'water damage', 'rusty throw away', 'Crushed', 'mouldy', '20713 wrongly marked', 'wrongly coded 20713', 'sold with wrong barcode', 'Sale error', 'Found by jackie', 'found some more on shelf', 'damages/dotcom?', 'damaged stock', 'found box', 'throw away', 'Wet pallet-thrown away', '???missing', 'wet pallet', '????missing', 'Water damaged', 'damages/credits from ASOS.', 'Unsaleable, destroyed.', 'crushed', 'crushed ctn', 'cracked', 'Damages/samples', 'water damaged', 'wet damaged', 'wet?', 'damages wax', 'stock creditted wrongly', '????damages????', 'check?', 'wrongly marked carton 22804', 'Damages', 'samples/damages', 'DAMAGED', 'wrongly sold as sets', 'wrongly sold sets', 'Found in w/hse', 'lost??', 'stock check', 'crushed boxes', 'on cargo order', 'test', 'barcode problem', 'mixed up', 'michel oops', 'printing smudges/thrown away', 'had been put aside', 'rusty thrown away', 'incorrectly made-thrown away.', 'Breakages', 'counted', 'Had been put aside.', 'returned', 'thrown away', 'mystery! Only ever imported 1800', 'Dagamed', 'code mix up? 84930', 'Printing smudges/thrown away', 'came coded as 20713', 'incorrect stock entry.', "thrown away-can't sell", 'Thrown away-rusty', 'Thrown away.', 'Given away', 'historic computer difference?....se', 'alan hodge cant mamage this section', "thrown away-can't sell.", 'label mix up', 'sold in set?', 'mix up with c']
is_special_item: ['dotcom', 'Amazon Adjustment', 'sold as set on dotcom', 'Sold as 1 on dotcom', 'rcvd be air temp fix for dotcom sit', 're dotcom quick fix.', 'sold as set on dotcom and amazon', 'showroom', 'amazon adjust', 'Amazon', 'John Lewis', 'Dotcomgiftshop Gift Voucher £100.00', "Dotcom sold in 6's", 'amazon', 'amazon sales', 'AMAZON', 'CORDIAL JUG', 'allocate stock for dotcom orders ta', 'website fixed', 'dotcom adjust', 'sold as set/6 by dotcom', 'sold as set by dotcom', 'Dotcom sales', 'dotcom sales', 'Dotcom', 'dotcomstock', 'FBA', 'Dotcom set', 'Amazon sold sets', 'dotcom sold sets', 'ebay', 'MIA', '?display?', 'Amazon Adjustment', 'Lighthouse Trading zero invc incorr', 'Dotcomgiftshop Gift Voucher £100.00', 'sold as set?', 'High Resolution Image', 'John Lewis', 'Bank Charges', 'Next Day Carriage']
is_modification_item: ['Adjustment', 'adjustment', 'taig adjust no stock', 'Show Samples', 'samples', 'sold as 1', 'OOPS ! adjustment', 'taig adjust', 'reverse 21/5/10 adjustment', 'sold as 22467', 'add stock to allocate online orders', 'temp adjustment', 'mailout ', 'mailout', 're-adjustment', 'did  a credit  and did not tick ret', 'incorrectly credited C550456 see 47', 'reverse previous adjustment', 'adjust', 'label mix up', '?sold as sets?', '? sold as sets?', 'Adjustment', 'OOPS ! adjustment', 'reverse 21/5/10 adjustment', 'reverse previous adjustment', 'marked as 23343', 'incorrectly put back into stock', 'Not rcvd in 10/11/2010 delivery', 'Display', 'Had been put aside.', 'sold as set by dotcom', 'add stock to allocate online orders', 'allocate stock for dotcom orders ta', 'for online retail orders', 'Marked as 23343']
Unclassified items: {'Incorrect stock entry.', 'ESSENTIAL BALM 3.5g TIN IN ENVELOPE', 'BAG 125g SWIRLY MARBLES', '*Boombox Ipod Classic', '3 TRADITIONAl BISCUIT CUTTERS  SET', 'nan', 'NUMBER TILE COTTAGE GARDEN No', 'POLYESTER FILLER PAD 40x40cm', 'POLYESTER FILLER PAD 60x40cm', 'POLYESTER FILLER PAD 30CMx30CM', 'FRENCH BLUE METAL DOOR SIGN No', 'POLYESTER FILLER PAD 45x45cm', '?', 'FLOWERS HANDBAG blue and orange', '*USB Office Mirror Ball', 'BAG 500g SWIRLY MARBLES', '???', "Dr. Jam's Arouzer Stress Ball", "can't find", 'BAG 250g SWIRLY MARBLES', '20713', 'THE KING GIFT BAG 25x24x12cm', '??', 'POLYESTER FILLER PAD 65CMx65CM', "Dad's Cab Electronic Meter", 'NUMBER TILE VINTAGE FONT No ', 'POLYESTER FILLER PAD 45x30cm', 'FOLK ART GREETING CARD,pack/12'}

In [22]:
items['is_unknown_item'] = items['item_description'].str.lower().isin(is_unknown_item)
items['is_error_item'] = items['item_description'].str.lower().isin(is_error_item)
items['is_special_item'] = items['item_description'].str.lower().isin(is_special_item)
items['is_modification_item'] = items['item_description'].str.lower().isin(is_modification_item)

items = items[['item_id', 'item_family_id', 'item_description', 'item_variant', 'is_operational_item', 'is_unknown_item', 'is_special_item', 'is_modification_item', 'is_error_item']]

items.loc[items['is_operational_item'], ['item_variant', 'is_unknown_item', 'is_special_item', 'is_modification_item', 'is_error_item']] = [None, False, False, False, False]
items.loc[items['is_unknown_item']] = items.loc[items['is_unknown_item']].replace('', None)
items.loc[items['is_special_item']] = items.loc[items['is_special_item']].replace('', None)
items.loc[items['is_modification_item']] = items.loc[items['is_modification_item']].replace('', None)
items.loc[items['is_error_item']] = items.loc[items['is_error_item']].replace('', None)

items.head(10)

,item_id,item_family_id,item_description,item_variant,is_operational_item,is_unknown_item,is_special_item,is_modification_item,is_error_item
0,10002,10002,INFLATABLE POLITICAL GLOBE,NaN,False,False,False,False,False
1,10002,10002,nan,NaN,False,True,False,False,False
2,10080,10080,GROOVY CACTUS INFLATABLE,NaN,False,False,False,False,False
3,10080,10080,check,NaN,False,False,False,False,True
4,10080,10080,nan,NaN,False,True,False,False,False
5,10120,10120,DOGGY RUBBER,NaN,False,False,False,False,False
6,10123C,10123,HEARTS WRAPPING TAPE,C,False,False,False,False,False
7,10123C,10123,nan,C,False,True,False,False,False
8,10123G,10123,nan,G,False,True,False,False,False
9,10124A,10124,SPOTS ON RED BOOKCOVER TAPE,A,False,False,False,False,False

In [ ]:
filtered_items = items[~items['is_operational_item'] & ~items['is_error_item'] & ~items['is_special_item'] & ~items['is_modification_item']& ~items['is_unknown_item']]
grouped = filtered_items.groupby('item_family_id')['item_description'].apply(lambda x: ' '.join(x))

def get_most_common_words(text):
    words = text.split()  
    word_counts = Counter(words)
    max_count = max(word_counts.values(), default=0)
    
    most_common_words = [word for word, count in word_counts.items() if count == max_count]
    return ' '.join(most_common_words) if most_common_words else None

main_product_descriptions = grouped.apply(get_most_common_words).reset_index()
main_product_descriptions.columns = ['item_family', 'item_family_description']


main_product_descriptions.head(10)

### Set categories with Open AI LLM

In [ ]:
categories = [
    "HOME DECOR",
    "KITCHENWARE",
    "TABLEWARE",
    "GIFT ITEMS",
    "FURNITURE",
    "TOYS",
    "CANDLES",
    "JEWELRY",
    "TEXTILES",
    "GARDENING",
    "BATHROOM",
    "STATIONERY",
    "BAGS",
    "LIGHTING",
    "CRAFTS",
    "HOLIDAY",
    "OUTDOOR",
    "TOOL & DIY",
    "SPORTS",
    "STORAGE",
    "TRAVEL",
    "BEAUTY",
    "BOOKS",
    "GAMES",
    "ORGANIZERS",
    "TABLE LINEN",
    "CHILDREN",
    "CERAMICS",
    "CLOTHING",
    "PLANTS & FLOWERS",
    "OTHERS"
]

#### LLM Extraction

In [ ]:
from openai import OpenAI

import openai_setup

# Create GPT Client
def initChatGPTClient():
    organization = openai_setup.conf['organization']
    project = openai_setup.conf['project']
    key = openai_setup.conf['key']

    client = OpenAI(
        api_key=key,
        organization=organization,
        project=project
    )
    return client

def llm_extract_category(client, item):
    completion = client.chat.completions.create(
        model="gpt-4o-mini",
        messages=[
            {"role": "system", "content": "You are an expert classifier system that gives a category to each object from a commerce. Ansewer only with the category selected in uppercase. The possible categories:" + str(categories)},
            {
                "role": "user",
                "content": str(item)
            }
        ]
    )
    answer = completion.choices[0].message.content
    return answer

In [ ]:
if False:
    client = initChatGPTClient()
    main_product_descriptions['category'] = main_product_descriptions['item_family_description'].apply(lambda item: llm_extract_category(client, item))
    display(main_product_descriptions)

    main_product_descriptions.to_csv('../data/main_product_descriptions.csv', index=False)

## Set modelling

In [31]:
transactions.head()

,transaction_id,invoice_id,item_id,item_description,quantity_amount,event_timestamp_invoiced_at,unit_price_eur,customer_id,country_name,is_return
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,False
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,False
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,False

#### dim_items

In [57]:
dim_items = items.copy().merge(transactions[['item_id','unit_price_eur']])
dim_items.head()

,item_id,item_family_id,item_description,item_variant,is_operational_item,is_unknown_item,is_special_item,is_modification_item,is_error_item,unit_price_eur
0,10002,10002,INFLATABLE POLITICAL GLOBE,NaN,False,False,False,False,False,0.85
1,10002,10002,INFLATABLE POLITICAL GLOBE,NaN,False,False,False,False,False,0.85
2,10002,10002,INFLATABLE POLITICAL GLOBE,NaN,False,False,False,False,False,0.85
3,10002,10002,INFLATABLE POLITICAL GLOBE,NaN,False,False,False,False,False,0.85
4,10002,10002,INFLATABLE POLITICAL GLOBE,NaN,False,False,False,False,False,1.66

#### dim_items_family

In [56]:
dim_items_family = item_family.copy()
dim_items_family.head()

   item_family_id     item_family_description item_category
0           10002  INFLATABLE POLITICAL GLOBE    GIFT ITEMS
1           10080    GROOVY CACTUS INFLATABLE          TOYS
2           10120                DOGGY RUBBER          TOYS
3           10123        HEARTS WRAPPING TAPE    STATIONERY
4           10124              BOOKCOVER TAPE    STATIONERY

#### dim_date

In [36]:
date_range = pd.date_range(start='2009-01-01', end='2025-12-31', freq='D')

dim_date = pd.DataFrame({
    'date_id': range(1, len(date_range) + 1),
    'date': date_range.date,
    'year': date_range.year,
    'month': date_range.month,
    'day': date_range.day,
    'day_of_week': date_range.strftime('%A'),
    'is_weekend': date_range.weekday >= 5 
})
display(dim_date)

      date_id        date  year  month  day day_of_week  is_weekend
0           1  2009-01-01  2009      1    1    Thursday       False
1           2  2009-01-02  2009      1    2      Friday       False
2           3  2009-01-03  2009      1    3    Saturday        True
3           4  2009-01-04  2009      1    4      Sunday        True
4           5  2009-01-05  2009      1    5      Monday       False
...       ...         ...   ...    ...  ...         ...         ...
6204     6205  2025-12-27  2025     12   27    Saturday        True
6205     6206  2025-12-28  2025     12   28      Sunday        True
6206     6207  2025-12-29  2025     12   29      Monday       False
6207     6208  2025-12-30  2025     12   30     Tuesday       False
6208     6209  2025-12-31  2025     12   31   Wednesday       False

[6209 rows x 7 columns]

#### dim_customers

In [69]:
from faker import Faker
import random
import pandas as pd

customers = transactions[['customer_id', 'country_name']].drop_duplicates().dropna().reset_index(drop=True)

faker = Faker()
countries_locale = {
    "Australia": 'en_AU', "Austria": 'de_AT', "Bahrain": 'en_US', "Belgium": 'fr_BE',
    "Brazil": 'pt_BR', "Canada": 'en_CA', "Channel Islands": 'en_GB', "Cyprus": 'el_CY',
    "Czech Republic": 'cs_CZ', "Denmark": 'da_DK', "EIRE": 'en_IE', "European Community": 'en_US',
    "Finland": 'fi_FI', "France": 'fr_FR', "Germany": 'de_DE', "Greece": 'el_GR',
    "Iceland": 'en_US', "Israel": 'he_IL', "Italy": 'it_IT', "Japan": 'ja_JP',
    "Lebanon": 'ar_SA', "Lithuania": 'lt_LT', "Malta": 'mt_MT', "Netherlands": 'nl_NL',
    "Norway": 'no_NO', "Poland": 'pl_PL', "Portugal": 'pt_PT', "RSA": 'en_US',
    "Saudi Arabia": 'ar_SA', "Singapore": 'en_US', "Spain": 'es_ES', "Sweden": 'sv_SE',
    "Switzerland": 'de_CH', "USA": 'en_US', "United Arab Emirates": 'ar_AE',
    "United Kingdom": 'en_GB', "Unspecified": 'en_US'
}

names_by_country = {}
for country, locale in countries_locale.items():
    faker = Faker(locale)
    first_names = [faker.first_name() for _ in range(1000)]
    last_names = [faker.last_name() for _ in range(1000)]
    full_names = [f"{random.choice(first_names)} {random.choice(last_names)}" for _ in range(1000)]
    names_by_country[country] = full_names

def assign_name(row):
    country = row['country_name']
    if country in names_by_country:
        return random.choice(names_by_country[country])
    return "Unknown"

customers['customer_name'] = customers.apply(assign_name, axis=1)
customers = customers.drop(columns=['country_name'])
dim_customers = customers.drop_duplicates(subset=['customer_id'], keep='first').reset_index(drop=True)
display(dim_customers.head())

   customer_id    customer_name
0        17850    Lesley Robson
1        13047     Joseph James
2        12583     Yves Blondel
3        13748     Michael Webb
4        15100  Francis Roberts

#### dim_location

In [ ]:
country_data = {
    'country_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 
           21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 
           38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
    'iso_country_code': ['AF', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AQ', 'AG', 'AR', 'AM', 
            'AW', 'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 
            'BJ', 'BM', 'BT', 'BO', 'BA', 'BW', 'BV', 'BR', 'IO', 'BN', 'BG', 
            'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'KY', 'CF', 'TD', 'CL', 'CN', 
            'CX', 'CC', 'CO', 'KM', 'CG', 'CD'],
    'country_code_name': ['AFGHANISTAN', 'ALBANIA', 'ALGERIA', 'AMERICAN SAMOA', 'ANDORRA', 
             'ANGOLA', 'ANGUILLA', 'ANTARCTICA', 'ANTIGUA AND BARBUDA', 'ARGENTINA', 
             'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN', 'BAHAMAS', 
             'BAHRAIN', 'BANGLADESH', 'BARBADOS', 'BELARUS', 'BELGIUM', 'BELIZE', 
             'BENIN', 'BERMUDA', 'BHUTAN', 'BOLIVIA', 'BOSNIA AND HERZEGOVINA', 
             'BOTSWANA', 'BOUVET ISLAND', 'BRAZIL', 'BRITISH INDIAN OCEAN TERRITORY', 
             'BRUNEI DARUSSALAM', 'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'CAMBODIA', 
             'CAMEROON', 'CANADA', 'CAPE VERDE', 'CAYMAN ISLANDS', 'CENTRAL AFRICAN REPUBLIC', 
             'CHAD', 'CHILE', 'CHINA', 'CHRISTMAS ISLAND', 'COCOS (KEELING) ISLANDS', 
             'COLOMBIA', 'COMOROS', 'CONGO', 'CONGO, THE DEMOCRATIC REPUBLIC OF THE'],
    'country_name': ['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 
                 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 
                 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 
                 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 
                 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 
                 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 
                 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 
                 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 
                 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 
                 'Colombia', 'Comoros', 'Congo', 'Congo, the Democratic Republic of the'],
    'iso_country_code3': ['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', None, 'ATG', 'ARG', 'ARM', 
             'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 
             'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', None, 'BRA', None, 'BRN', 'BGR', 
             'BFA', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 
             None, None, 'COL', 'COM', 'COG', 'COD'],
    'country_code': [4, 8, 12, 16, 20, 24, 660, None, 28, 32, 51, 533, 36, 40, 31, 44, 48, 50, 
                52, 112, 56, 84, 204, 60, 64, 68, 70, 72, None, 76, None, 96, 100, 854, 108, 
                116, 120, 124, 132, 136, 140, 148, 152, 156, None, None, 170, 174, 178, 180],
    'phone_code': [93, 355, 213, 1684, 376, 244, 1264, 0, 1268, 54, 374, 297, 61, 43, 994, 
                  1242, 973, 880, 1246, 375, 32, 501, 229, 1441, 975, 591, 387, 267, 0, 55, 
                  246, 673, 359, 226, 257, 855, 237, 1, 238, 1345, 236, 235, 56, 86, 61, 672, 
                  57, 269, 242, 242]
}

dim_location = pd.DataFrame(country_data)

dim_location['country_id'] = dim_location['country_id'].astype('Int64')
dim_location['iso_country_code'] = dim_location['iso_country_code'].astype(str)
dim_location['iso_country_code3'] = dim_location['iso_country_code3'].astype(str)
dim_location['country_name'] = dim_location['country_name'].astype(str)
dim_location['country_code_name'] = dim_location['country_code_name'].astype(str)
dim_location['country_code'] = dim_location['country_code'].astype('Int64')
dim_location['phone_code'] = dim_location['phone_code'].astype('Int64')

dim_location = dim_location[['country_id','iso_country_code', 'iso_country_code3', 'country_name', 'country_code_name', 'country_code','phone_code']]
display(dim_location.head())

,country_id,iso_country_code,iso_country_code3,country_name,country_code_name,country_code,phone_code
0,1,AF,AFG,Afghanistan,AFGHANISTAN,4,93
1,2,AL,ALB,Albania,ALBANIA,8,355
2,3,DZ,DZA,Algeria,ALGERIA,12,213
3,4,AS,ASM,American Samoa,AMERICAN SAMOA,16,1684
4,5,AD,AND,Andorra,ANDORRA,20,376

#### fact_invoices

#### fact_transactions

## ETL logic

## Dash ideas

- beneficio mes
- beneficio año
- mom
- yoy

- numero de compras
- numero de clientes
- beneficio total
- numero de invoices realizados
- numero de objetos comprados totals
- devoluciones
- flags especiales

- por pais

- por categoria de producto

- tipos de clientes:
    - gasto
    - numero de invoices realizados
    - numero de objetos comprados totals
    - numero de objetos por compra
    - numero de compras por mes
    - numero de compras por año
    - devoluciones
    - flags especiales
    - categoria que mas compra